<button *ngIf="!(authService.user | async)" (click) = "tologin()">
  Login
</button>-

<button (click) = "tosignup()">
    signup
  </button>-
  <button (click) = "towelcome()">
   Welcome
  </button> -
 

  
<button *ngIf="authService.user | async" (click) = "logOut()">
  logout
</button>-
  